.header {
  z-index: 2147483647;
  height: 100px;
  width: 100vw !important;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  background-color: #131921;
  position: sticky !important;
  top: 0;
  z-index: 100;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: 500px !important;
  border-radius: 24px;
}

.header__searchInput {
  padding: 10px;
  border: none;
  height: 40px;
  width: 500px !important;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.header__searchIcon {
  padding: 5px;
  height: 30px !important;
  background-color: #1cc640;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.logo {
  padding: 20px 20px 20px 20px;
  width: 300px;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #0397d2);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #02a7c8);
}

.header__logo {
  width: 70px;
  object-fit: contain;
}

.uploadButton {
  right: 10%;
  width: 40px;
  height: 40px;
}

.ribbon {
  z-index: 30 !important;
  position: sticky !important;
  color: rgb(198, 216, 216);
  background-color: #17a636;
}
